*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(cake2.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height:90px;
    width: 100%;
    background: rgb(238, 185, 203);
}
.logo{
    width:130px;
    height: 86px;
    padding: 1px 80px;
}
.navbar ul{
    float:right;
    margin-right:20px;
}
.navbar ul li{
    list-style: circle;
    margin: 0 8px;
    display: inline-block;
    line-height:90px;
}
.navbar ul li a{
    text-decoration: rgb(74, 221, 197);
    color:rgb(70, 43, 226);
    font-size: 25px;
    font-family:unset;
    padding: 6px 13px;
    
    transition: .4s;
}
.navbar ul li a.active
.navbar ul li a.hover{
    background:red
    border-radius: 2px;
}
.wrapper .center{
    position:absolute;
    top:50%;
    left:50%;
    user-select:none;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    
}
.center h1{
    color: black;
    font-size: 45px;
    font-weight:bold;
    width:700px;
    text-align:right;
    margin-top:1px;
    margin-right:100px
}
.center h2{
    color: black;
    font-size: 50px;
    font-weight:bold;
    width:700px;
    text-align:right;
    margin-top:1px;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
    height:50px;
    width:150px;
    color:rgb(7, 63, 100);
    font-size:18px;
    font-weight:bold;
   
    outline:none;
    cursor:pointer;
    border-radius:25px;
    background:rgb(173, 173, 230);
    border:1px coral;
    transition: .4s;
    align-self: center;
}
.buttons .btn2{
	margin-left: 200px;
    margin-top: 0px;
    margin-down: 0px;
    margin-bottom: 0px;
    ;
}
.buttons button:hover{
	background: #00ccc2;
}